h3 {
    text-align: center;
}

#menu {
    background-color: #8f9491;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2px;
    padding-bottom: 2px;
}

button {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
}

#borrar {
    background-color: #EC524B;
    color: white;
}

#usuarios, #comentarios, #emails, #experiencias, #fotos, #hoteles, #ofertas, #perfiles, #roles, #servicios, #tipos {
    background-color: #0d1f22;
    color: white;
}

#lista {
    background-color: #f3eaf4;
    text-align: left;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 5px;
}

ol {
    padding-top: 5px;
    padding-bottom: 5px;
}